html {
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(rgb(123, 186, 152), purple, orange, green, blue);
  background-color: #1e1e1e;
  margin: 0;
  color: white;
  font-family: "JetBrains Mono", sans-serif;
  font-size: 5rem;
}

body div {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  -webkit-box-reflect: below 0
    linear-gradient(transparent, rgba(255, 255, 255, 0.2));
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  40% {
    transform: rotate(15deg);
  }
  80% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(0);
  }
}

.showScroll {
  padding: 30px;
  background-color: rgba(93, 93, 93, 1);
  width: 200px;
  color: white;
  border: none;
  font-size: 1.5rem;
  position: fixed;
  top: calc(50% - 46px);
  left: calc(50% - 100px);
  cursor: pointer;
  user-select: none;
  opacity: 0;
  transition: all 1s;
  animation: rotate 2s infinite linear;
  z-index: 99;
}
.showScroll:hover {
  background-color: #6c6c6c;
}

.active {
  display: block;
  opacity: 100;
  transition: all 1s;
}
