html {
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(rgb(197, 215, 41), purple, orange, green, blue);
  background-color: #1e1e1e;
  margin: 0;
  color: white;
  font-family: "JetBrains Mono", sans-serif;
  font-size: 5rem;
}

body div {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  -webkit-box-reflect: below 0
    linear-gradient(transparent, rgba(255, 255, 255, 0.2));
}

.showScroll {
  padding: 30px;
  background-color: transparent;
  width: 200px;
  color: white;
  border: 2px solid white;
  font-size: 1.5rem;
  position: fixed;
  top: calc(50% - 46px);
  left: calc(50% - 100px);
  text-transform: uppercase;
  cursor: pointer;
  user-select: none;
  opacity: 0;
  transition: all 1s;
  z-index: 99;
}
.showScroll:hover {
  transform: scale(1.5);
}

.active {
  display: block;
  opacity: 100;
  transition: all 1s;
}
